@import '../bootstrap/bootstrap';

@mixin create-border-radius($radius: 5px) {
  -webkit-border-radius: $radius;
  -moz-border-radius:    $radius;
  border-radius:         $radius;

  -moz-background-clip:    padding;
  -webkit-background-clip: padding-box;
  background-clip:         padding-box;
}



.nav {
  li.divider {
    display: block;
    margin-left: 1em;
  }
}

ul.feedbackPanel {
  list-style-type: none;
  list-style-position:inside;
  margin:0;
  padding:0;

  li.alert {
    list-style-type: none;
    list-style-position:inside;
    margin: 2px;
    padding: 2px;
  }
}

