@import '../heinlein/heinlein';

html, body {
  height: 100%;
}

.container {
	margin-top: 80px;
	margin-bottom: 80px;
}

.navbar {
	.navbar-brand {
		margin-left: 0 !important;
	}
	
	button {
		margin: 7px;
	}
}

.navbar-right {
	margin-right: 0 !important;
}

li.list-header, a.list-header {
    cursor: not-allowed;
	background-color: $gray-700;
	color: $gray-200;
}

.btn-group-justified {
	padding: 5px;
	
	.btn {
	}
}
