.hyperion-cycler {
	position: relative;
}

.hyperion-cycler-item {
	z-index: 0;
	display: none;
	position: absolute;
}

.hyperion-cycler-item-active {
	z-index: 3 !important;
	display: block !important;
}